* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    /* 10px */
    font-family: 'Rubik', sans-serif;
    ;
}

/* utility class  start */

.button-blue{
    color : white;
    background-color: #3a34f8;
    border: none;
    cursor: pointer;
}

/* utility class end  */


/* login page start  */

.login-page{
    display: flex;
    font-size: 5rem;
    flex-wrap: wrap;
    height: 98vh;
}




.col-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3a34f8;
    color: white;
    border-radius: 0.15em;
    margin: 0.2em;
    align-items: center;
    /* border: 1px solid red; */
    text-align: center;
}

.col-1 > *{
    margin: .5em;
}

.col-1 .logo{
    
    width: 5em;
    height: 5em;
    object-fit: contain;
}



.col-2{
    margin: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-2 > *{
    margin: 0.5em;
}

.col-2 h1{
    font-weight: 400;
    font-size: 5rem;
}


.col-2 .phone{
    display: flex;
    position: relative;
    justify-content: space-around;
    

    
}

.col-2 .phone input{
    border : 3px solid #3a34f8;
    font-size: 2rem;
    padding-left: 3em;
    border-radius: 00.5em;
}

.col-2 .phone button{
    margin-left: 0.4em;
    border-radius: 0.5em;
    
}


.col-2 span{
    position: absolute;
    top : .60em;
    z-index: 2;
    font-size: 2rem;
    color : #3a34f8;
    left : 1em;
}


.col-2 .otp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col-2 .otp input{
    border: 3px solid #3a34f8;
    border-radius: 0.5em;
    font-size: 2rem;
    padding-left: 0.2em;
}

.col-2 .otp button{
    border-radius: 0.5em;
}



/* media query start  important  */


/* Media Query for Mobile Devices */
@media (max-width: 480px) {

    .col-1{
        height: 40%;
        width: 100%;
    

    }
    .col-2{
        height: 65%;
        width: 100%;

    }
    .col-2 .phone{
        width: 100%;
        height: 2.5em;
    }
    .col-2 .phone input{
        width: 80%;
    }
    .col-2 .phone button{
        width: 15%;
    }
    .col-2 .otp{
        width: 100%;
        height: 6em;
        
    }
    .col-2 .otp input{
        width: 100%;
        height: 40%;

    }
    .col-2 .otp button{
        width: 15%;
        height: 40%;
    }



}

/* Media Query for low resolution Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1281px) {

    .col-1{
        width: 30%;
        height: 100%;
       
    }
    .col-2{
        height: 100%;
        width: 65%;
    }
    .col-2 .phone{
        width: 70%;
        height: 2.5em;
    }
    .col-2 .phone input{
        width: 80%;
    }
    .col-2 .phone button{
        width: 15%;
    }
    .col-2 .otp{
        width: 70%;
        height: 6em;
        
    }
    .col-2 .otp input{
        width: 100%;
        height: 40%;

    }
    .col-2 .otp button{
        width: 15%;
        height: 40%;
    }


    
  
}










/* media query end  */